@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;
  width: 8rem;

  &__name {
    text-align: right;
    color: $color-primary;
    font-weight: $font-weight-medium;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  &__picture {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

@include media-query-for-screen($desktop) {
  .card {
    width: 12rem;
    &__name {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &__picture {
      height: 4rem;
      width: 4rem;
    }
  }
}