// Colors
$color-primary: #FF6060;

$color-black: #000000;
$color-light-grey: #F6F6F6;
$color-white: #FFFFFF;

// Fonts
$font-family-primary: 'Montserrat', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;