@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  padding: 0 1rem 1rem;
}

.bannerHeading {
  font-weight: $font-weight-medium;
  font-size: 1.6rem;
}

.stays__listing {
  padding: 1.4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

@include media-query-for-screen($desktop) {
  .main {
    padding: 0 2rem 2rem;
    margin: auto;
    max-width: 1200px;
  }

  .bannerHeading {
    font-size: 3rem;
  }

  .stays__listing {
    margin-top: 2rem;
    padding: 2rem;
    background-color: $color-light-grey;
    border-radius: 25px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}