@import '../../styles/variables';

.collapse {
  border-radius: 5px;
  background-color: $color-light-grey;

  &__header {
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    border-radius: 5px; 
  }

  &__title {
    color: $color-white;
    font-weight: $font-weight-medium;
    font-size: 1rem;
  }

  &__icon {
    height: 1.8rem;
  }

  &__content {
    padding: 2rem 1rem;
    color: $color-primary;
    font-weight: $font-weight-regular;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  &.active &{
    &__icon {
      transform: rotate(180deg);
    }
  }
}