.collapse {
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: pink;
  }

  &__content {
    background-color: #F6F6F6;
  }

  &.active &{
    &__icon {
      transform: rotate(180deg);
    }
  }
}