@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__logo {
    height: 2.6rem;
  }

  &__navigation {
    ul {
      display: flex;
      gap: 1rem;
    }

    a {
      color: $color-primary;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      font-size: 0.8rem;

      &:hover, &.active {
        text-decoration: underline;
      }
    }
  }
}

@include media-query-for-screen($desktop) {
  .header {
    padding: 2rem;
    margin: auto;
    max-width: 1200px;

    &__logo {
      height: 4rem;
    }

    &__navigation {
      ul {
        gap: 3rem;
      }

      a {
        text-transform: capitalize;
        font-size: 1.5rem;
      }
    }
  }
}