@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__logo {
    height: 2.6rem;
  }

  &__navigation {
    ul {
      display: flex;
      gap: 1rem;
    }

    a {
      color: $color-primary;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      font-size: 0.8rem;

      &:hover, &.active {
        text-decoration: underline;
      }
    }
  }
}