@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4rem 1rem;

  &__text {
    font-weight: $font-weight-medium;
    font-size: 0.8rem;
  }
}

@include media-query-for-screen($desktop) {
  .footer {
    gap: 2rem;
    &__text {
      font-size: 1.3rem;
    }
  }
}