@import '../../styles/variables';
@import '../../styles/mixins';

.tag {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background-color: $color-primary;
  color: $color-white;
  font-weight: $font-weight-medium;
  font-size: 0.7rem;
}

@include media-query-for-screen($desktop) {
  .tag {
    border-radius: 10px;
    font-size: 0.9rem;
  }
}