@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  padding: 6rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorCode {
  color: $color-primary;
  font-weight: $font-weight-bold;
  font-size: 6rem;
}

.errorMessage {
  margin: 1rem 0 6rem;
  color: $color-primary;
  font-weight: $font-weight-medium;
  font-size: 1.2rem;
  line-height: 1.6rem;;
  text-align: center;
}

.homePageLink {
  color: $color-primary;
  font-weight: $font-weight-medium;
  text-decoration: underline;
}

@include media-query-for-screen($desktop) {
  .main {
    padding: 3rem 1rem 5rem;
  }
  .errorCode {
    font-size: 16rem;
  }

  .errorMessage {
    font-size: 2.2rem;
  }

  .homePageLink {
    font-size: 1.1rem;
  }
}